.header {
  height: 15vh;
  background: $headerGradient;
  &__title {
    height: 100%;
    display: flex;
    font-size: 3vw;
    color: $white;
    font-weight: bold;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }
}