.lists {
  height: 78vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__list {
    padding: 1vw;
    flex-basis: 50%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    h2 {
      font-size: 2vw;
      font-weight: bold;
      color: $primaryGreen;
    }
    &.-hidden {
      display: none
    }
    &.-loading {
      height: 50px !important;
      flex: 0;
    }
    &.-favourites {
      background-color: $favourites_bg;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 1.5vw 0;
      font-size: 1.25vw;

      &:first-of-type {
        margin-top: 0
      }
      &:last-of-type {
        margin-bottom: 0
      }

      &__title {
        font-size: 1.35vw;
        &__icon {
          font-size: 1.4vw;
          margin-right: 1.15vw;
          color: $star_unselected;
          &.-selected {
            color: $primaryGreen;
          }
        }
      }
      &__description {
        flex-basis: 60%;
      }
    }
  }
}